@import './style.scss';

.select-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 100%;
    padding: 2%;
    background-color: var(--primary-color);
    color: var(--white);
    z-index: 2;
    box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.20);
    border-bottom: 1px solid black;
}

.display-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    padding: 2% 7% 2% 7%;
}

.info-display {
    h2 {
        margin-bottom: 20px;
    }

    p {
        font-size: 20px;
    }
}
    