@import "./style.scss";

.footer-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: black;
  color: white;
  padding: 5%;
  overflow-y: hidden;

  @media (max-width: 1000px) {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 2fr;
    padding: 8%;

    .cell-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.footer-brand-section {
  text-align: center;
  margin-bottom: 20px;
}

.footer-brand {
  margin: 10px;
}
