@import './style.scss';

main {
    max-width: 100%;
    font-family: 'Poppins', sans-serif;
}

.slideshow {
    height: 32rem;
    margin: 0 auto;
    overflow: hidden;

    .slider{
        white-space: nowrap;
        transition: ease 1000ms;
        color: white;
        
        .slide{
            display: inline-block;
            vertical-align:top;
            height: 32rem;
            width: 100%;

            .slide-content {
                width: 70%;
                padding: 80px;
                
                p{
                    word-break: break-all;
                    white-space: normal;
                }
            }
        }
    }

    .dots{
        text-align: center;
        position: relative;
        top: -100px;

        .slideshowDot {
            display: inline-block;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            cursor: pointer;
            margin: 15px 7px 0px;
            background-color: #c4c4c4;
            
        }
    }
}

.wrapper {
    display: grid;
    grid-template-columns: 4fr 3fr;
    background-color: var(--secondary-color);
    gap: 10px;

    h1, h2 {
        color: var(--primary-color);
    }

    h3, h4 {
        color: var(--secondary-color);
    }

    h5 {
        color: var(--terciary-color);
    }

    .info-cell {
        height: 32rem;
        padding: 6%;
        text-align: center;

        h1, p {
            color: white;
        }
    }

    .rating-cell {
        height: 32rem;
        padding: 8%;
        text-align: center;
        background-color: var(--white);
        border-radius: 0 0 0 100%;
    }

    .rating-btn {
        padding: 20px;
    }
}