@import './style.scss';

main {
    max-width: 100%;
    font-family: 'Poppins', sans-serif;
}

.container-shadow {
    z-index: 2;
    box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.19);
}

.slideshow {
    height: calc(100vh - 95px);
    margin: 0 auto;
    overflow: hidden;

    .slider {
        white-space: nowrap;
        transition: ease 1000ms;
        color: white;
        
        .slide {
            height: calc(100vh - 95px);
            width: 100%;
            display: inline-block;
            vertical-align:top;

            .slide-content {
                width: 70%;
                padding: 100px;
                
                p{
                    word-break: nowrap;
                    white-space: normal;
                    font-size: 22px;
                }
            }
        }
    }

    .carousel-control {
        height: 100%;
        width: 4%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        cursor: pointer;
    }

    .carousel-control:hover {
        background-color: black;
        opacity:0.7;
    }

    .left-control {
        position: absolute;
        top: 0;
    }

    .right-control {
        position: absolute;
        text-align: right;
        top: 0;
        right: 0;
    }

    .dots {
        position: relative;
        top: -100px;
        text-align: center;
        
        .slideshowDot {
            height: 20px;
            width: 20px;
            display: inline-block;
            border-radius: 50%;
            cursor: pointer;
            margin: 15px 7px 0px;
            background-color: #c4c4c4;
            
        }
    }
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    background-color: var(--white);
    gap: 10px;

    h1, h2 {
        color: var(--primary-color);
    }

    h3, h4, h5 {
        color: #413F42;
    }

    .info-display {
        min-height: calc(100vh - 95px);
        max-height: auto;
        text-align: center;
        padding: 3% 7% 3% 7%;
        
        h1, p {
            color: var(--primary-color);
        }
    }
}

@media (max-width: 1000px) {
    .slideshow {
        .slider {
            .slide {
                .slide-content {
                    width: 80%;
                    padding: 80px;

                    h1 {
                        word-break: nowrap;
                        white-space: normal;
                    }
                    
                    p{
                        word-break: nowrap;
                        white-space: normal;
                        font-size: 20px;
                    }
                }
            }
        }
    
        .carousel-control {
            width: 35px;
        }
    
    }
}

@media (max-width: 500px) {
    .slideshow {
        .slider {
            .slide {
                .slide-content {
                    width: 100%;
                    padding: 30px;

                    h1 {
                        word-break: nowrap;
                        white-space: normal;
                    }
                    
                    p{
                        word-break: nowrap;
                        white-space: normal;
                        font-size: 14px;
                    }
                }
            }
        }
    
        .carousel-control {
            width: 25px;
        }
    
    }
    
}