@import './style.scss';

main {
    max-width: 100%;
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
}

.map-container {
    width: 80%;
    height: 25rem;
    border-radius: 10px;
}

  